---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="docspage fill-height inner__content fixed-content">
			<div class="container main">

				<div class="row row-eq-height">
					
					{% for version in site.data.versions %}
						{% if version.latest == true %}
						
							{% if version.published == true %}
								<div class="col-xs-12">
									<h2>Latest Version ({{version.name}})</h2>
									<p><i><small>Released on {{version.release-date}}</small></i></p>
									<br />
								</div>
								
								{% for section in version.sections %}
								<div class="col-sm-6 col-md-4">
									<div class="img-thumbnail">
										<a href="docs/{{version.alias}}/{{section.url}}/" class="homepage-section">
											<img src="{{section.img}}">
										</a>
										<div class="caption">
											<a href="docs/{{version.alias}}/{{version.url}}/" class="homepage-section">
												<h5 class="homepage-section__title">{{section.name}} <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></h5>
											</a>
										</div>
									</div>
								</div>
								{% endfor %}
												
							{% endif %}
						
						{% endif %}
					{% endfor %}
					
					<div class="col-xs-12">
						<h2>Previous Versions</h2>
						<ul>
						{% for version in site.data.versions %}
						
							{% if version.latest == false %}
								{% if version.published == true %}
								<li>
									<a href="docs/{{version.alias}}/index.html">
										<strong>{{version.name}}</strong>
									</a> 
									(<i><small>Released on {{version.release-date}}</small></i> )
								</li>
								{% endif %}
							{% endif %}
							
						{% endfor %}
						</ul>
					</div>
					
					</div>
				
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
