<select id="docs-version">
{% for version in site.data.versions %}
	{% if version.published == true %}
		{% assign url = page.url | replace: this_version_alias ,  version.alias %}
		{% if url %}
			<option value="{{ url }}" {% if version.alias == this_version_alias %}selected=selected{% endif %}>
				Version {{ version.name }}
				{% if version.latest == true %}
					( Latest )
				{% endif %}
				</option>
		{% endif %}
	{% endif %}
{% endfor %}
</select>

<script>
	$(function(){
		$('#docs-version').on('change', function () {
			var url = $(this).val(); // get selected value
				if (url) { // require a URL
					window.location = url; // redirect
				}
			return false;
		});
	});
</script>
