{% include definations.html %}
<select id="docs-version">
{% for version in site.data.versions %}
	{% if version.published == true %}
		{% assign url = page.url | remove_first: "/" | replace: this_version_branch,version.branch %}
		
		{% if url %}
			<option value="{{ url }}" {% if version.branch == this_version_branch %}selected=selected{% endif %}>
				Version {{ version.name }}
				{% if version.latest == true %}
					( Latest )
				{% endif %}
				</option>
		{% endif %}
	{% endif %}
{% endfor %}
</select>

<script>
	$(function(){
		$('#docs-version').on('change', function () {
			var url = $(this).val(); // get selected value
				if (url) { // require a URL
					if (excludedSites.indexOf(window.location.host) > -1){
						window.location = url; // redirect
					} else {
						window.location = baseURL.href+url;  // redirect
					}
				}
			return false;
		});
	});
</script>
